<section id="contact" class="whitebackground">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{contact_title}}</h2>
                <hr class="primary">
                <ul class="soc">
                    {{#if facbook_url}}<li><a class="soc-facebook" target="_blank" href="{{facebook_url}}"></a></li>{{/if}}
                    {{#if twitter_url}}<li><a class="soc-twitter" target="_blank" href="{{twitter_url}}"></a></li>{{/if}}
                    {{#if google_url}}<li><a class="soc-google" target="_blank" href="{{google_url}}"></a></li>{{/if}}
                    {{#if instagram_url}}<li><a class="soc-instagram" target="_blank" href="{{instagram_url}}"></a></li>{{/if}}
                    {{#if linkedin_url}}<li><a class="soc-linkedin" target="_blank" href="{{linkedin_url}}"></a></li>{{/if}}
                    {{#if youtube_url}}<li><a class="soc-youtube" target="_blank" href="{{youtube_url}}"></a></li>{{/if}}
                    {{#if rss_url}}<li><a class="soc-rss" target="_blank" href="{{rss_url}}"></a></li>{{/if}}
                    {{#if email}}<li><a class="soc-email2 soc-icon-last" target="_blank" href="mailto:{{email}}"></a></li>{{/if}}
                </ul>
            </div>
        </div>
    </div>
</section>
